/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .screenshot {
    max-width: 220px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
  .screenshot {
    max-width: 150px;
  }
}

body {
  font-family: 'Open Sans';
  background-color: #fafafa;
}

p {
  text-align: justify;
  margin: 0;
}

h1 {
  font-weight: 500;
  color: #343a40;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  color: #6c757d;
  font-family: 'Roboto';
  margin: 0;
}

.icon {
  font-weight: bold;
  text-decoration: none;
  color: #343a40;
}

.icon:hover {
  color: #ffd60a;
}

#profile {
  border-radius: 50%;
  width: 200px;
}

.card {
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
  padding: 30px;
}

.center {
  text-align: center;
  margin-top: 24px;
}

.container {
  max-width: 800px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.list-inline > li {
  display: inline-block;
  margin: 0px 10px;
  font-size: 30px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn {
  font-size: 30px;
  margin: 20px;
  background-color: #7400b8;
  border: 0px;
  color: white;
  padding: 8px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #343a40;
}

.btn:hover {
  background-color: #343a40;
  color: white;
}

h3 {
  color: #ffd60a;
  font-family: 'Roboto';
  font-size: 32px;
  text-align: center;
  font-weight: 450;
  margin: 0;
}

.flex {
  display: flex;
  margin: 24px 0px;
}

.text {
  margin-left: 10px;
}

.strong {
  margin-bottom: 4px;
  font-weight: 600;
}
